.manage-team-btn, .create-team-btn {
    margin-top: 15px;
    text-align: center;
    width: 100%;
    display: inline-block;
    border: 2px #888888 dashed;
    border-radius: 10px;
    background: transparent;
}

.create-team-btn:hover {
    text-decoration: none;
}

.create-team-btn:hover p:last-child, .manage-team-btn:hover p:last-child {
    color: #0062ff;
}

.manage-team-btn p, .create-team-btn p {
    padding: 0;
    margin:0;
}

.create-team-btn p:first-child {
    color: #0062ff;
    padding: 30px 0;
    vertical-align: middle;
}

.manage-team-btn p:first-child {
    padding: 30px 0;
    vertical-align: middle;
}

.manage-team-btn p:first-child {
    font-size: 25px;
}

.manage-team-btn p:last-child, .create-team-btn p:last-child {
    padding-bottom: 30px;
    font-weight: bold;
    color: #000000;
    font-size: 20px;
}


.manage-team-btn p:last-child span a {
    background:#0062ff;
    color:#fff;
    padding: 13px;
    border-radius: 8px;
}

.create-team-btn p .plus {
    font-size: 34.2px;
}

.manage-team-btn p:last-child span a:hover {
    text-decoration: none;
    background:#0088ef;
}