.custom-dropdown {
    width: 100%;
}

.custom-dropdown .title-bar {
    border: 1px rgb(206, 212, 218) solid;
    padding: 6px 12px;
    border-radius: 10px;
    color: rgb(73, 80, 87);
    cursor: pointer;
    transition-delay: 0.5s;
    transition: 0.1s;
}

.title-bar-text {
    display: inline-block;
    width: 95%;
}

.title-bar-icon {
    display: inline-block;
    width: 5%;
    color: #0062cc;
}

.custom-dropdown.active .title-bar {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.custom-dropdown  .custom-dropdown-outer-container .custom-dropdown-list {
    color: rgb(73, 80, 87);
    list-style: none;
    border: 1px rgb(206, 212, 218) solid;
    margin-top: -1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.scroll-y {
    overflow-y: scroll;
}

.custom-dropdown.active .custom-dropdown-outer-container .custom-dropdown-list li {
    padding: 10px 18px 0 18px;
}

.custom-dropdown.active .custom-dropdown-outer-container  .custom-dropdown-list li span {
    border-bottom: 1px solid rgb(206, 212, 218);
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
}

.custom-dropdown.active .custom-dropdown-outer-container  .custom-dropdown-list li:last-child span {
    border-bottom: 1px solid #fff;
}